/* App.css 파일 */
.parkingLot {
  /* background-image: url('../public/assets/parking.png'); */
  background-image: url('../public/assets/image.png');
  background-size: cover;
  width: 1520px;
  height: 750px;
}

.parking-space {
  border: 2px solid rgba(55, 158, 159, 0.7);
  border-radius: 5px;
  box-shadow: 3px 3px 40px 2px rgba(95, 102, 238, 0.5);
  color: #66e166;
}

